.ProductsPreviewPage {
  min-height: 100vh;
  height: 100%;
  padding-top: 1rem;
}

.cardsBlock {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  min-height: 80vh;
}

@media (min-width: 480px) {
  .cardsBlock {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .cardsBlock {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1600px) {
  .cardsBlock {
    grid-template-columns: repeat(4, 1fr);
  }
}

.productCard {
  flex: 1 1 calc(33.333% - 40px);
  height: fit-content;
  margin: 10px;
  box-shadow: var(--shadow);
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--white-color);
  transition: transform 0.3s;
}

.productCard:hover {
  transform: translateY(-5px);
}

.productImg {
  display: flex;
  justify-content: center;
  padding: 1rem 1.5rem;
}

@media (min-width: 768px) {
  .productImg {
    padding: 1rem 1rem;
  }
}

@media (min-width: 1200px) {
  .productImg {
    padding: 1rem 2rem;
  }
}

.productInfo {
  padding: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.productInfoTitle {
  color: var(--text-color);
  margin: 0px 0px 10px 0px;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .productInfoTitle {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .productInfoTitle {
    font-size: 1rem;
  }
}

.productInfoDescr {
  text-align: left;
  margin: 0.5rem 0rem 1.5rem 0rem;
  font-size: 0.8rem;
  color: var(--gray-70);
  overflow: hidden;
  max-height: 45px;
  text-overflow: ellipsis;
}

.priceAndQuantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 480px) and (max-width: 991px) {
  .priceAndQuantity {
    display: block;
  }
}

@media (min-width: 1200px) {
  .priceAndQuantity {
    padding: 0rem 1rem;
  }
}

.productInfoPrice {
  font-size: 1.1rem;
  color: var(--accent-orange-color);
  line-height: 0;
  font-weight: bold;
}

@media (min-width: 480px) and (max-width: 991px) {
  .productInfoPrice {
    margin-bottom: 1.15rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .productInfoPrice {
    font-size: 1.15rem;
  }
}

@media (min-width: 1200px) {
  .productInfoPrice {
    font-size: 1.3rem;
  }
}

.productInfoQuantity {
  color: var(--text-color);
  font-weight: bold;
  font-size: 0.75rem;
}

@media (min-width: 768px) {
  .productInfoQuantity {
    font-size: 0.82rem;
  }
}

@media (min-width: 1200px) {
  .productInfoQuantity {
    font-size: 0.9rem;
  }
}

.productBuyBtn {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
