.ProductsPreviewPage {
  min-height: 100vh;
  height: 100%;
  padding-top: 1rem;
}

.cardsBlock {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  min-height: 80vh;
}

@media (min-width: 480px) {
  .cardsBlock {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .cardsBlock {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .cardsBlock {
    grid-template-columns: repeat(4, 1fr);
  }
}

.productCard {
  flex: 1 1 calc(33.333% - 40px);
  height: fit-content;
  margin: 10px;
  box-shadow: var(--shadow);
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--white-color);
  transition: transform 0.3s;
}

.productCard:hover {
  transform: translateY(-5px);
}

.productImg {
  display: flex;
  justify-content: center;
  padding: 0px 32px;
}

.productInfo {
  padding: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.productInfoTitle {
  color: var(--text-color);
  margin: 0px 0px 10px 0px;
}

@media (min-width: 480px) {
  .productInfoTitle {
    font-size: 14px;
  }
}

.productInfoDescr {
  font-size: 12px;
  text-align: left;
  margin: 0.5rem 0rem 1.5rem 0rem;
  color: var(--gray-70);
  overflow: hidden;
  max-height: 70px;
  text-overflow: ellipsis;
}

/* @media (min-width: 480px) {
  .productInfoDescr {
    font-size: 10px;
    max-height: 48px;
  }
} */

.priceAndQuantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productInfoPrice {
  font-size: 20px;
  color: var(--accent-orange-color);
  line-height: 0;
  font-weight: bold;
}

.productInfoQuantity {
  font-size: 14px;
  color: var(--text-color);
  font-weight: bold;
}

.productBuyBtn {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
